* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --black: #21272d;
  --white: #ffffff;
  --darkO: #ea5141;
  --lightO: #f2705c;
}
body {
  font-family: "Advent Pro", sans-serif;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: var(--white);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--darkO);
  border-radius: 5px;
}
header {
  width: 100%;
  padding: 15px 0px;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: var(--white);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#logo {
  width: 200px;
}
#logo img {
  width: 100%;
}
#nav {
  display: flex;
  align-items: center;
}
#nav a {
  transition: all 300ms;
}
#nav ul li {
  font-size: 15pt;
  padding: 0px 25px;
  display: inline;
}
.link {
  color: var(--black);
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.hover a:hover,
.current {
  color: var(--darkO);
  padding: 5px 0px;
}
footer {
  background-color: var(--black);
  display: block;
}
.footerc {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  color: var(--black);
  width: 1200px;
  margin: 0px auto;
}
.content {
  width: 33.3%;
  text-align: center;
}
.content h4 {
  font-size: 30px;
}
.content h4,
.content p {
  margin-bottom: 10px;
  color: var(--white);
  font-size: 20px;
}
.content a {
  color: var(--white);
}
.content a:hover {
  color: var(--darkO);
}
.container .text-wrapper{
  width: 500px;
  margin: 0px auto;
}
.primary-font{
  text-transform: uppercase;
}
.footer-list li {
  float: right;
  width: 200px;
  text-align: end;
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.contentn h4,
.content p {
  text-align: left;
}
.linksn {
  text-align: right;
}
#logo-footer img {
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;
  height: 100px;
  width: 210px;
}
.links {
  margin: 20px 0px 20px 20px;
}
.links a:hover {
  color: var(--darkO);
}
.links a {
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 30px;
  color: var(--white);
}
.footer-list ul li {
  list-style-type: none;
}
.copyright p {
  margin-left: 80px;
  color: var(--white);
  font-size: 20px;
}
.linksn h4 {
  font-size: 30px;
}
.linksn h4 {
  font-size: 30px;
}
#gallery {
  width: 100%;
  height: 600px;
  background-color: var(--white);
}

#title-gallery {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  font-family: "Advent Pro", sans-serif;
  font-size: 23px;
  background-color: var(--darkO);
}

.gallery-row {
  width: 100%;
  margin: 20px 0px;
}

.gallery-block {
  width: 30%;
  height: 250px;
  float: left;
  transition: transform 0.2s;
}

.gallery-block:hover {
  transform: scale(0.95);
}

.gallery-block img {
  width: 100%;
  height: 100%;
}

.block2 {
  margin: 0px 5%;
}

.block3 {
  float: right;
}

#author {
  width: 100%;
  margin: 20px auto;
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
}
#me {
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.6);
  height: 446px;
  
}
#me img{
  width: 380px;
  height: 450px;
}

#authortxt {
  font-family: "Advent Pro", sans-serif;
  width: 400px;
  text-align: center;
  margin-top: 120px;
  margin-left: 160px;
  font-size: 30px;
}
#authortxt table {
  border-collapse: collapse; /* Spajamo granice ćelija kako ne bi imali rupe između njih */
}

#authortxt table td {
  padding: 7px;
}

#authortxt table td:first-child {
  font-weight: bold;
}

#authortxt table tr:not(:last-child) td {
  border-bottom: 3px solid var(--darkO); /* Dodajemo donju liniju ispod svake ćelije osim poslednje */
}

#main {
  width: 100%;
  background-image: url("../img/cover.jpg");
}
.bg-image {
  width: 100%;
  height: 525px;
  background-position: center;
  background-size: cover;
  position: static;
  display: flex;
  justify-content: center;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: inherit;
  padding: 10% 0%;
}
.shadow h1 {
  color: var(--darkO);
  text-align: center;
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 7px;
  font-weight: bold;
}
.shadow h2 {
  padding-top: -20px;
  color: white;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
}
.offer {
  background-color: var(--white);
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
}
.offer img {
  width: 100%;
  border-radius: 5px;
}
#nosac-slike {
  width: 50%;
  margin: 50px 0px;
}
.offer .nosecitekst {
  width: 40%;
  color: var(--black);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}
.offer h2,#reservations h2, #find-us h2 {
  color: var(--darkO);
}
h2 {
  font-size: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.offer .nosecitekst p {
  font-size: 23px;
  text-align: justify;
}

.offer.dark-bg {
  background-color: var(--black);
}

.offer.dark-bg p{
  color: var(--white);
}
#quote {
  position: relative;
  background-image: url("../img/quote.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0px;
  height: 120px;
}
#quote p {
  font-size: 30px;
  letter-spacing: 1px;
  color: var(--white);
  text-align: center;
  margin-top: 10px;
}


.primary-color {
  color: var(--darkO);
}
.secondary-color {
  color: var(--lightO);
}
.text-white {
  color: var(--white);
}

.info-color {
  color: var(--black);
}
.bg-primary {
  background-color: var(--darkO);
}
.bg-secondary {
  background-color: var(--lightO);
}
.clear {
  clear: both;
}
.mt-1 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-5 {
  margin-top: 50px;
}
.text-muted {
  color: var(--black);
}
.py-5 {
  padding: 50px 0;
}
#brand-name {
  background-color: var(--black);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
}
.brand-logo {
  width: 60px;
}
.text-center {
  text-align: center;
}
.nav-link {
  text-decoration: none;
  color: var(--black);
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.nav-link:hover {
  border-bottom: 1px solid var(--darkO);
  color: var(--black);
}
.active {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid var(--darkO);
}
#logo-text {
  position: absolute;
  width: 150px;
  top: 23px;
  left: calc(50% - 75px);

}
@keyframes pomeranje {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 25px;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.hand-writing {
  font-family: "Advent Pro", sans-serif;
}
.feature .info-color {
  padding: 0px 10px;
}
.dark-overlay {
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#quote .container {
  position: relative;
  z-index: 1;
}
#quote p {
  width: 800px;
  margin: 0 auto;
}
.dish-wrap p {
  color: var(--black);
  font-size: 18px;
}
.menu-wrap {
  margin: 30px 0px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-wrap p {
  float: left;
}
.dish-info {
  width: 90%;
}
.dish-price {
  float: left;
}
.dish-info p {
  color: var(--black);
}
.dish-wrap {
  width: 45%;
  margin-bottom: 50px;
}
.dish-wrap .dish-up {
  display: flex;
  justify-content: space-between;
}
.dish-wrap .dish-down hr{
  width: 90%;
}
.menu h1 {
  margin: 10px 0 10px 0;
  letter-spacing: 6px;
}
#features {
  background-color: var(--white);
  padding: 0px 0;
}
.feature img {
  border-radius: 50%;
  margin-left: 0%;
}
.feature {
  width: 25%;
  float: left;
}
.feature-text {
  color: var(--black);
}
.feature-title {
  margin: 20px 0 10px;
}
.feature-title + p {
  font-size: 13px;
}
#header {
  padding: 20px 0;
  background-color: var(--black);
}
#header h1 {
  font-size: 50px;
  letter-spacing: 6px;
}
#header p {
  margin: 10px auto;
  line-height: 20px;
  font-size: 20px;
}
.bg-secondary .container {
  padding: 30px 0;
}
#find-us h2 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}
#find-us #map iframe {
  width: 100%;
  height: 250px;
}
#reservations {
  margin: 30px 0px;
  text-align: center;
}
#reservations table {
  margin: 0px auto;
  text-align: left;
}
#reservations table td{
  padding: 5px;
}
#reservations input[type=text], #reservations textarea,input[type=email], input[type=date],input[type=time], input[type=tel] {
  width: 300px;
  border-radius: 5px;
  border: 1px solid var(--darkO);
  padding: 5px 3px;
}
button,input,textarea {
  font-family: "Advent Pro", sans-serif;
}
button{
  font-size: 18px;
}
#reservations label{
  font-size: 20px;
}
#reservations textarea {
  resize: vertical;
}
#reservations button{
  width: 50%;
  border: 1px solid var(--darkO);
  border-radius: 5px;
  background-color: var(--darkO);
  color: #ffffff;
  padding: 5px 0px;
}
#reservations table td:nth-last-of-type(1) {
  text-align: center;
}
